

<h1>Unidades</h1>

<table class="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>--- Ações ---</th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidade| %>
      <tr>
        <td><%= unidade.nome %></td>
        <td>
        <%= link_to 'Exibir', unidade %> |
        <%= link_to 'Editar', edit_unidade_path(unidade) %> |
        <%= link_to 'Apagar', unidade, method: :delete, data: { confirm: 'Tem Certeza?' } %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Unidade', new_unidade_path %>

<br>

<%= will_paginate @unidades %>