

<h1>Edições do Programa</h1>

<table class="data-table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Data Início</th>
      <th>Data fim</th>
      <% if current_user.admin? %>
      <th>Unidade</th>
      <% end -%>
      <th colspan="3">--- Ações ---</th>
    </tr>
  </thead>

  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= programa.descricao %></td>
        <td><%= programa.inicio %></td>
        <td><%= programa.fim %></td>
      <% if current_user.admin? %>
        <td><%= programa.unidade_nome %></td>
      <% end -%>
        <td>
        <%= link_to 'Exibir', programa %> |
        <%= link_to 'Editar', edit_programa_path(programa) %> |
        <%= link_to 'Excluir', programa, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova edição', new_programa_path %>
<br>

<%= will_paginate @programas %>
