


<% if current_user.admin? -%>
<p>
  <strong>Unidade:</strong>
  <%= @programa.unidade_nome %>
</p>
<% end -%>

<p>
  <strong>Descrição:</strong>
  <%= @programa.descricao %>
</p>

<p>
  <strong>Data Início:</strong>
  <%= data_str(@programa.data_inicio) %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= data_str(@programa.data_fim) %>
</p>


<%= link_to 'Editar', edit_programa_path(@programa) %> |
<%= link_to 'Voltar', programas_path %> |
<%= link_to 'Residências', programa_residencias_path(@programa) %>
