<%= form_for(@apenado) do |f| %>
  <% if @apenado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apenado.errors.count, "error") %> prohibited this apenado from being saved:</h2>

      <ul>
      <% @apenado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if current_user.admin? -%>
    <div class="field">
      <%= f.label :unidade_id %><br>
      <%= select("apenado", "unidade_id", Unidade.all.collect {|p| [ p.nome, p.id ] }, {include_blank: false}) %>
    </div>    
  <% end -%>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :termino, "Previsão de Término" %><br>
    <%= f.date_select :termino %>
  </div>
  <div class="field">
    <%= f.label :restricoes, "Restrições" %><br>
    <%= f.text_area :restricoes, rows: 5, cols: 70 %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.select :sexo, ["Masculino", "Feminino"], prompt: "---Selecione---" %>
  </div>
  <div class="field">
    <%= f.label :nascimento, "Data de Nascimento" %><br>
    <%= f.date_select :nascimento, start_year: 100.years.ago.year, end_year: 18.years.ago.year %>
  </div>
  <div class="field">
    <%= f.label :mae, "Nome da Mãe" %><br>
    <%= f.text_field :mae, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :documentos %><br>
    <%= f.text_field :documentos, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :naturalidade %><br>
    <%= f.text_field :naturalidade, size: 45 %>
  </div>
  <div class="field">
    <%= f.label :condenado_por %><br>
    <%= f.text_field :condenado_por, size: 35 %>
  </div>
  <div class="field">
    <%= f.label :endereco, "Endereço" %><br>
    <%= f.text_field :endereco, size: 70 %>
  </div>
  <div class="field">
    <%= f.label :ativo %><br>
    <%= f.select :ativo, [["Sim", true], ["Não", false]] %>
  </div>
  <div class="field">
    <%= f.label :motivo_inativo, "Motivo Inativação" %><br>
    <%= f.text_field :motivo_inativo, size: 35 %>
  </div>

  <%= f.fields_for :photos do |builder| -%>
  <fieldset>
    <%= render 'photo_fields', :f => builder %>
  </fieldset>
  <% end -%>
  

  <div class="field">
    <%= link_to_add_fields "Nova Imagem", f, :photos %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
