<p id="notice"><%= notice %></p>

<h1>Apenados</h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin? -%>
      <th>Unidade</th>
      <% end -%>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Ativo</th>
      <th colspan="3">--- Ações ---</th>
    </tr>
  </thead>

  <tbody>
    <% @apenados.each do |apenado| %>
      <tr>
      <% if current_user.admin? -%>
        <td><%= apenado.unidade_nome %></td>
      <% end -%>
        <td><%= apenado.nome %></td>
        <td><%= apenado.endereco %></td>
        <td><%= apenado.ativo? ? "Sim" : "Não" %></td>
        <td><%= link_to 'Exibir', apenado %></td>
        <td><%= link_to 'Editar', edit_apenado_path(apenado) %></td>
        <td><%= link_to 'Apagar', apenado, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Apenado', new_apenado_path %> | <%= link_to 'Gerar Pauta Fiscalização', pauta_apenados_path %>

<br>

<%= will_paginate @apenados %>