<%= form_tag gerar_pauta_apenados_url, method: :post do %>
  <div class="field">
    <%= label_tag 'data_fim', "Gerar pauta até a data" %><br>
    <%= select_date(Date.today, order: [:day, :month, :year], prefix: 'data_fim') %>
  </div>
  <%= submit_tag  'Gerar' %>
<% end -%>

  <p>
    <strong>Visitas Agendadas a partir de hoje:</strong>
  </p>

<% @visitas.each do |v| -%>

  <p>
    <%= v.data_visita.strftime('%d/%m/%Y') %> - 
    <strong><%= v.apenado_nome %></strong>
  </p>
<% end -%>
