

<% if current_user.admin? -%>
<p>
  <strong>Unidade:</strong>
  <%= @apenado.unidade_nome %>
</p>
<% end -%>

<p>
  <strong>Nome:</strong>
  <%= @apenado.nome %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @apenado.previsao_termino %>
</p>

<p>
  <strong>Restricoes:</strong>
  <%= simple_format @apenado.restricoes %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @apenado.sexo %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @apenado.data_nascimento %>
</p>

<p>
  <strong>Mae:</strong>
  <%= @apenado.mae %>
</p>

<p>
  <strong>Documentos:</strong>
  <%= @apenado.documentos %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @apenado.naturalidade %>
</p>

<p>
  <strong>Condenado por:</strong>
  <%= @apenado.condenado_por %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @apenado.endereco %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @apenado.ativo %>
</p>

<p>
  <strong>Motivo Inativação:</strong>
  <%= @apenado.motivo_inativo %>
</p>

<p>
  <strong>Outras informações:</strong>
  <%= @apenado.outras_informacoes %>
</p>

<p>
  <strong>Fotos:</strong>
  <% @apenado.photos.each do |photo| %>
    <%= image_tag photo.image_url(:thumbnail) %>
  <% end -%>
</p>

<%= link_to 'Editar', edit_apenado_path(@apenado) %> |
<%= link_to 'Voltar', apenados_path %>
