

<h1>Usuários</h1>

<table class="data-table">
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Ativo</th>
      <% if current_user.admin? -%>
      <th>Unidade</th>
      <% end -%>
      <th>--- Ações ---</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.matricula %></td>
        <td><%= user.nome %></td>
        <td><%= user.ativo ? "Sim" : "Não" %></td>
        <% if current_user.admin? -%>
        <td><%= user.nome_unidade %></td>
        <% end -%>
        <td>
          <%= link_to 'Exibir', user %> |
          <%= link_to 'Editar', edit_user_path(user) %>
        <% if current_user.admin? -%>
         | <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %>
        <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path %>

<br>

<%= will_paginate @users %>