
<p>
  <strong>Telefones:</strong>
  <%= @residencia.telefones %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @residencia.nome %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @residencia.endereco %>
</p>

<p>
  <strong>Data Saída:</strong>
  <%= data_str(@residencia.data_saida) %>
</p>

<p>
  <strong>Retorno previsto:</strong>
  <%= data_str(@residencia.retorno_previsto) %>
</p>

<p>
  <strong>Já retornou:</strong>
  <%= @residencia.ja_retornou ? "Sim" : "Não" %>
</p>

<p>
  <strong>Data retorno:</strong>
  <%= data_str(@residencia.data_retorno) %>
</p>

<p>
  <strong>Informacoes complementares:</strong>
  <%= simple_format @residencia.informacoes_complementares %>
</p>


<%= link_to 'Editar', edit_programa_residencia_path(@programa, @residencia) %> |
<%= link_to 'Voltar', programa_residencias_path(@programa) %>
