<p id="notice"><%= notice %></p>

<p>
  <strong>Telefones,:</strong>
  <%= @residencium.telefones, %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @residencium.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @residencium.endereco %>
</p>

<p>
  <strong>Data saida:</strong>
  <%= @residencium.data_saida %>
</p>

<p>
  <strong>Retorno previsto:</strong>
  <%= @residencium.retorno_previsto %>
</p>

<p>
  <strong>Ja retornou:</strong>
  <%= @residencium.ja_retornou %>
</p>

<p>
  <strong>Data retorno:</strong>
  <%= @residencium.data_retorno %>
</p>

<p>
  <strong>Informacoes complementares:</strong>
  <%= @residencium.informacoes_complementares %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @residencium.unidade %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @residencium.programa %>
</p>

<%= link_to 'Edit', edit_residencium_path(@residencium) %> |
<%= link_to 'Back', residencia_path %>
