<%= form_for(@opo) do |f| %>
  <% if @opo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opo.errors.count, "error") %> prohibited this opo from being saved:</h2>

      <ul>
      <% @opo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? -%>
    <div class="field">
      <%= f.label :unidade_id %><br>
      <%= select("opo", "unidade_id", Unidade.all.collect {|p| [ p.nome, p.id ] }, {include_blank: false}) %>
    </div>    
  <% end -%>

  <div class="field">
    <%= f.label :numero, "Número" %><br>
    <%= f.text_field :numero %>
  </div>

  <div class="field">
    <%= f.label :data_inicio, "Data Início" %><br>
    <%= f.date_select :data_inicio %>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br>
    <%= f.date_select :data_fim %>
  </div>

  <div class="field">
    <%= f.label :descricao, "Descrição" %><br>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :hora %><br>
    <%= f.text_field :hora, size: "40" %>
  </div>

  <div class="field">
    <%= f.label :local %><br>
    <%= f.text_field :local, size: "60" %>
  </div>

  <div class="field">
    <%= f.label :evento %><br>
    <%= f.text_field :evento, size: "60" %>
  </div>

  <div class="field">
    <%= f.label :solicitante %><br>
    <%= f.text_field :solicitante, size: "20" %>
  </div>

  <div class="field">
    <%= f.label :texto, "Justificativa/Execução/Providências" %><br>
    <%= f.text_area :texto, cols: "80", rows: "15" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
