<p id="notice"><%= notice %></p>

<h1>Ordens de Policiamento</h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin? -%>
      <th>Unidade</th>
      <% end -%>
      <th>Número</th>
      <th>Descrição</th>
      <th>Data início</th>
      <th>Data fim</th>
      <th colspan="3">--Ações--</th>
    </tr>
  </thead>

  <tbody>
    <% @opos.each do |opo| %>
      <tr>
      <% if current_user.admin? -%>
        <td><%= opo.unidade_nome %></td>
      <% end -%>
        <td><%= opo.numero %></td>
        <td><%= opo.descricao %></td>
        <td><%= opo.inicio %></td>
        <td><%= opo.fim %></td>
        <td><%= link_to 'Exibir', opo %></td>
        <td><%= link_to 'Editar', edit_opo_path(opo) %></td>
        <td><%= link_to 'Apagar', opo, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova OPO', new_opo_path %>
<br>

<%= will_paginate @opos %>