
<% if current_user.admin? -%>
<p>
  <strong>Unidade:</strong>
  <%= @opo.unidade_nome %>
</p>
<% end -%>

<p>
  <strong>Numero:</strong>
  <%= @opo.numero %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @opo.descricao %>
</p>

<p>
  <strong>Data Início:</strong>
  <%= @opo.inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @opo.fim %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @opo.hora %>
</p>

<p>
  <strong>Local:</strong>
  <%= @opo.local %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @opo.evento %>
</p>

<p>
  <strong>Solicitante:</strong>
  <%= @opo.solicitante %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @opo.texto %>
</p>

<%= link_to 'Editar', edit_opo_path(@opo) %> |
<%= link_to 'Voltar', opos_path %>
